html {
    scroll-behavior: smooth;
}

.items {
    display: flow-root;
    min-height: 900px;
    background-color: #111;
}


/* .items,
.items .card-container,
.items .card-container .card {
    transition: 1s ease-in;
} */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: #fff;
    text-align: center;
    margin: 50px 0px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
}

.items .card-container .card {
    width: 30%;
    height: 300px;
    background: #fff;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.items .card-container .card:hover {
    height: 300px;
    background: #fff;
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.02);
}

.items .card .image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #A00008;
    opacity: 0.1;
}

.nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 100%;
    font-size: 16px;
    display: none;
}

.nav-menu.active {
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #A00008;
}

.nav-menu.active ul {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.nav-menu.active ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 15px;
    transform: scale(1.05);
}

.nav-menu.active ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-menu.active ul li a:hover {
    color: #A00008;
}

.items .card .image img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: fill;
}

.main .logo a {
    color: #fff;
}

.items .card .card-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 25px;
    margin: 0px 0px 5px 5px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .card-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .items .card-container .card {
        width: 90%;
        height: 300px;
        background: #fff;
        position: relative;
        margin: 10px;
        cursor: pointer;
    }
    .items .card .card-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        font-size: 20px;
        margin: 0px 0px 3px 3px;
        color: #fff;
        text-transform: capitalize;
        font-weight: bold;
    }
    .nav-menu {
        font-size: 15px;
    }
    .nav-menu.active {
        width: 100%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #A00008;
    }
    .nav-menu.active ul {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }
}