@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Exo+2&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

nav {
    position: absolute;
    z-index: 10;
    top: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav .logo,
nav .menu {
    cursor: pointer;
    margin: 40px 40px;
    font-size: 25px;
}

nav .logo {
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.showcase .showcase-title {
    z-index: 11;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    top: 25%;
    text-align: left;
    left: 0;
    margin-left: 30px;
}

.showcase .showcase-title .show-title {
    font-size: 40px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

.showcase .showcase-title .description {
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

.showcase .showcase-title .btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px;
    color: #fff;
    width: 40%;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    background: #000;
    border: 1px solid #fff;
    transition: 0.5s;
}

.showcase .showcase-title .btn:hover {
    letter-spacing: 3px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.section-title {
    z-index: 7;
}

a {
    text-decoration: none;
}

.main-section {
    text-align: center;
}

.content {
    font-size: 20px;
}

.pre-footer .social-wrapper {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(210, 39%, 9%);
}

.pre-footer .social-wrapper i {
    color: #fff;
    font-size: 55px;
    margin: 0px 30px;
    transition: 0.5s;
}

.pre-footer .social-wrapper i:hover {
    color: #2a4e19;
}

footer {
    height: 40vh;
    padding: 25px 50px;
    background: #000;
    color: #fff;
    display: flex;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .showcase .showcase-title {
        z-index: 11;
        position: absolute;
        display: flex;
        flex-direction: column;
        color: #fff;
        top: 25%;
        text-align: left;
        left: 0;
        margin-left: 10px;
    }
}